extends layout

block content  
  h1= header
  fieldset
    input(type='text', placeholder='Type in a word to track', class="field")
    input(type='submit', class="submit", value="Stream")
  .container#tweet-container
