html
  head
    title= title
    //- link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
  body
    block content
    script(src='//code.jquery.com/jquery-2.1.1.js')
    //- script(src='/socket.io/socket.io.js')
    script(src='/javascript/global.js')